# Question 1:
Create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays

In [33]:
import numpy as np
x = np.array([3, 5])
y = np.array([2, 5])
print("ORIGINAL")
print(x)
print(y)
print("GREATER")
print(np.greater(x,y))
print("GREATER_EQUAL")
print(np.greater_equal(x,y))
print("LESS")
print(np.less(x,y))
print("LESS_EQUAL")
print(np.less(y,x))

ORIGINAL
[3 5]
[2 5]
GREATER
[ True False]
GREATER_EQUAL
[ True  True]
LESS
[False False]
LESS_EQUAL
[ True False]

# Question 2:
Write a NumPy program to create an array of 10 zeros,10 ones, 10 fives

In [51]:
import numpy as np

array = np.zeros(10)
print("An Array of 10 Zeros:-")
print(array)

array = np.ones(10)
print("An Array of 10 ones:-")
print(array)

array = np.ones(10)*5
print("An Array of 10 fives:-")
print(array)

An Array of 10 Zeros:-
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
An Array of 10 ones:-
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
An Array of 10 fives:-
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

# Question 3:
Write a NumPy program to compute sum of all elements, sum of each column and sum of each row of a
given array

In [60]:
import numpy as np

x = np.array(([1,2],[5,6]))
print("Original Array")
print(x)

print("sum of all elements")
print(np.sum(x))

print("sum of each column")
print(np.sum(x, axis=0))

print("sum of each row")
print(np.sum(x, axis=1))

Original Array
[[1 2]
 [5 6]]
sum of all elements
14
sum of each column
[6 8]
sum of each row
[ 3 11]


# Question 4:
Write a NumPy program to add, subtract, multiply, divide arguments element-wise.

In [70]:
import numpy as np

print("Add")
print(np.add(56,25))

print("Subtract")
print(np.subtract(56,25))

print("Multiply")
print(np.multiply(22,11))

print("Divide")
print(np.divide(56,5))

Add
81
Subtract
31
Multiply
242
Divide
11.2

# Question 5:
Write a NumPy program to compute the trigonometric sine, cosine and tangent array of angles given in
degree.

In [85]:
import numpy as np

print("sine:Array of angles given in degrees")
print(np.sin(np.array((0.,30.,45.,60.,90.,)) *np.pi/180.))

print("cosine:Array of angles given in degrees")
print(np.cos(np.array((0.,30.,45.,60.,90.,)) *np.pi/180.))

print("Tangent:Array of angles given in degrees")
print(np.tan(np.array((0.,30.,45.,60.,90.,)) *np.pi/180.))

sine:Array of angles given in degrees
[0.         0.5        0.70710678 0.8660254  1.        ]
cosine:Array of angles given in degrees
[1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]
Tangent:Array of angles given in degrees
[0.00000000e+00 5.77350269e-01 1.00000000e+00 1.73205081e+00
 1.63312394e+16]

# Question 6:
Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the
index labels

In [94]:
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Aniket', 'Ajay', 'Harsh', 'Shiv', 'Ani', 'Michael', 'Meet', 'Laura', 'Kevis', 'Jonap'],
        'Score': [12.5, 13.5, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'Attempts': [1, 1, 2, 3, 2, 3, 1, 1, 2, 1],
        'Qualify': ['yes', 'yes', 'yes', 'Yes', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      Name  Score  Attempts Qualify
a   Aniket   12.5         1     yes
b     Ajay   13.5         1     yes
c    Harsh   16.5         2     yes
d     Shiv    NaN         3     Yes
e      Ani    9.0         2      no
f  Michael   20.0         3     yes
g     Meet   14.5         1     yes
h    Laura    NaN         1      no
i    Kevis    8.0         2      no
j    Jonap   19.0         1     yes

# Question 7:
Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [98]:
import pandas as pd
import numpy as np

exam_data  = {'Name': ['Aniket', 'Ajay', 'Harsh', 'Shiv', 'Ani', 'Michael', 'Meet', 'Laura', 'Kevis', 'Jonap'],
        'Score': [12.5, 15, 16.5, 10, 9, 20, 14.5, np.nan, 8, 19],
        'Attempts': [1, 1, 2, 1, 2, 3, 1, 1, 1, 2],
        'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df[['Name','Score']])

      Name  Score
a   Aniket   12.5
b     Ajay   15.0
c    Harsh   16.5
d     Shiv   10.0
e      Ani    9.0
f  Michael   20.0
g     Meet   14.5
h    Laura    NaN
i    Kevis    8.0
j    Jonap   19.0

# Question 8:
Write a Pandas program to join the two given dataframes along rows and assign all data.

In [97]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ajay Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2       Ajay Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2       Ajay Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

# Question 9:
Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

In [96]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

df = pd.DataFrame({
                    'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
                    'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
                    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
                    'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
                    'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders DataFrame:")
print(df)

print("\nMissing values of the said dataframe:")
print(df.isna())

Original Orders DataFrame:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Missing values of the said dataframe:
    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

# Question 10:
Write a Pandas program to create and display a one-dimensional array-like object containing an array of
data.

In [95]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64